<!DOCTYPE html>
<html>
  
  <head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description | truncate: 155 }}" />

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description | truncate: 300 }}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ page.image | prepend: '/img/' | prepend: site.baseurl | prepend: site.url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{{ site.description | truncate: 200 }}" />
    <meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="twitter:image" content="{{ page.image | prepend: '/img/' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="twitter:site" content="{{ site.twitter | prepend: '@' }}" />

    <link rel="alternate" href="{{ '/feed.xml' | prepend: site.baseurl }}" type="application/rss+xml" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl }}" />

    <link rel="stylesheet" href="{{ '/assets/normalize.css' | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/assets/animate.css' | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/assets/styles.css' | prepend: site.baseurl }}" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>  

  <body>

    <header>
      
      {% if site.title %}<a href="{{ '/' | prepend: site.baseurl }}" title="Back to Homepage" class="logo">{{ site.name }}</a>{% endif %}

      {% assign pages = site.pages | sort: 'date' | where: 'navigation', true %}
      {% assign posts = site.posts | sort: 'date' | where: 'navigation', true %}

    </header>